<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group">
	<!-- wp:group {"align":"full","className":"rm-section rm-pp-crumbwrap","layout":{"type":"constrained"}} --><div class="wp-block-group alignfull rm-section rm-pp-crumbwrap"><!-- wp:heading {"level":1,"className":"rm-apage-title"} --><h1 class="wp-block-heading rm-apage-title">News</h1><!-- /wp:heading --></div><!-- /wp:group -->
	<!-- wp:group {"align":"full","className":"rm-section","layout":{"type":"default"}} --><div class="wp-block-group alignfull rm-section"><!-- wp:shortcode -->[ricoman_news_grid]<!-- /wp:shortcode --></div><!-- /wp:group -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
