<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:pattern {"slug":"ricoman/hero"} /-->
	<!-- wp:pattern {"slug":"ricoman/intro"} /-->
	<!-- wp:pattern {"slug":"ricoman/product-categories"} /-->
	<!-- wp:pattern {"slug":"ricoman/lighting-range"} /-->
	<!-- wp:pattern {"slug":"ricoman/audience"} /-->
	<!-- wp:pattern {"slug":"ricoman/mission"} /-->
	<!-- wp:pattern {"slug":"ricoman/features"} /-->
	<!-- wp:pattern {"slug":"ricoman/stats"} /-->
	<!-- wp:pattern {"slug":"ricoman/lead-form"} /-->
	<!-- wp:pattern {"slug":"ricoman/cta"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
